*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.home{
    width: 100%;
    height: 100%;
    background-color: rgb(67, 161, 213);
}
.footer{
    background-color: white ;
    text-align: center;
    padding-top: 50px;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: white;
    padding: 10px 30px;
}
.header .logo{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header .navigation{
    list-style: none;
}

.header .navigation ul li{
    
    display: inline-block;
    padding: 10px 30px;
}


.header .navigation ul li a{
color: black;
font-size: 20px;
font-weight: 500;
text-decoration: none;
}

.header .navigation ul li a:hover{
    color: rgb(67, 161, 213);    
    }

    
.main{
   
   display: flex;
   justify-content:space-between;
   align-items: center;
   width: 100%;
   height: 90px;
   padding: 250px 100px;
}

.main .svg{
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.main .svg img{
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    opacity: .7;
}
.main .column .intro h1{
    margin-bottom: 1rem;
}

.main .column .intro p{
    font-size: 20px;
}

.main .column .contact{
    width: max-content;
}
.main .column .contact button{
    margin-top: 1rem;
    background-color: rgb(42, 105, 181);
    border: none;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.main .column .contact button:hover{
    color: white;
    background-color: black;
}

.main .column .contact button a{
    text-decoration: none;
    color: white;
    
}

.main .column .price{
    display: flex;
    
}
.main .column .price .dollar{
    color: red;
}


.contents{
    padding-top: 50px;
    
    
}
.contents p{
    margin-top: 1rem;
}

.contents .row1{
    display: flex;
   justify-content:space-evenly;
}
.contents .row2{
    display: flex;
   justify-content:space-evenly;
}
.contents .row3{
    display: flex;
   justify-content:space-evenly;
}




.contents .card {
    background-color: rgb(211,211,211);
    height: 500px;
    width: 600px;
    border-radius: 5px;
    padding-top: 20px;
    text-align: center;
    margin-right: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    opacity: 80%;   
}
.contents .card:hover{
    opacity: 100%;

}

.contents .card .cardimage img{
    height: 400px;
    width: 500px;
    border-radius: 5px;
     
}


.page2{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 250px 100px;
    
}


.page2 .col1 .con{
    display: flex;
    align-items: center;
   
}

.page2 .col1 .loc{
    display: flex;
    align-items: center;
}

.page2 .col1 .email{
    display: flex;
    align-items: center;
}

.page2 .col1 p{
    margin-left: 1rem;
}


.aboutcompany .columnabout{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 250px 250px;
    
}

.aboutcompany .columnabout .companyinfo ul {
    margin-left: 12rem;
}

.aboutcompany .columnabout .companyinfo .des {
    margin-bottom: 1rem;
}
